
.bg-color{
    background: rgba(133, 106, 106, 0.937);;
    }
    
    .container-fluid{
      color:white;
    }
    
    .nav-link{
      color:white;
    }
    
    .nav-item a{
      color:white;
    }
    
    .nav-item a:hover{
      font-weight:1000;
      color:white;
    }
    
    .container-fluid img{
      width:200px;
      height:40px;
    }

    .loginArrowButton img{
      width:50px;
      height:40px;
      background-color: white;
      
    }

    .loginArrowButton{
      color:white;
    }