.app__login{
    width:100%;
    height:100vh;
    display:flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    

}

.app__login_template{
    height:80%;
    width:80%;
    background: url('../../images/login-bg1.jpg');
    background-size: 100% 100%;
    
    margin-left:10%;
    
    border-radius: 5rem;
 
    
}
.app_login_logo{

    
    color: aliceblue;
    background-color: white;
    height:50px;
    width:60px;
}

.app_login_text{
    font-size: 2rem;
    color:white;
    display:flex;
    text-align: center;
    justify-content: center;
    margin-left:20%;
    margin-top:2rem;
}
.app__login_content{
    align-items: flex-start;
    background-color: black;
    width:40%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.app__login_content_input{
    width:80%;
    height:50px;
    margin-left:10%;
    margin-top:2rem;
    border-radius: 5rem;
}

.app_login_button{
    width:50%;
    height:40px;
    border-radius: 10rem;
    margin-left: 25%;
    margin-top:2.5rem;
    background-color: black;
    color:goldenrod;
    border-color: goldenrod;
}

.app_login_button:hover{
    width:55%;
    
    border-radius: 25rem;
    margin-left: 22.5%;
    margin-top:2.5rem;
    background-color: goldenrod;
    color:black;
}
.app_signin{
    width:100%;
    display:flex;
    flex-direction: column;
    
    
    
}

.written-content{
    margin:auto;
   font-size: 1.5rem;
   font-style: italic;
   align-self:center;
}

