.app__gamepage{
    
    width:100%;
    
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./gamepage-bg2.jpg");

    background-size:cover;
    background-attachment: fixed;
    
}

.app__gamepage{
    width:100%;
    color: rgba(76, 175, 80, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    opacity:1.8;
}

.game_name{
    color:black;
    font-weight: 750;
    padding:3rem 4rem;
}

.content{
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.app__gamepage_video{
    width:50%;
    height:auto;
    margin-left:10%;
    margin-right:2rem;
}

.details{
    width:40%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.details img{  
    width:60%;
}

.upper_content_details{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.some_content{
    width:80%;
    color:black;
    font-size: 1.2rem;

}
.release_date{
    color:black;
    font-size: 1rem;
}
.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.app__gamepage_images{
    display:flex;
    width:80%;
    height:300px;
    margin-top:3rem;
    justify-content: space-between;
}

.game_images:hover{
    height:100%;
    width:100%;
}
.ecommerce-gallery{
    width:80%;
}

.game_gallery{
    width:82%;
    display:flex;
    justify-content: center;
}

.image_card{
    margin:2rem 0.8rem;
    opacity:0.7;
}

.image_card:hover{
   box-shadow: rgba(17, 20, 17, 0.9);
   border-radius: 2rem;
   opacity:1;
}